@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: rgb(30 41 59);
  color: rgb(248 250 252);
}

.light{
  background-color: rgb(248 250 252);
  color: rgb(30 41 59);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  position: relative;
}

.switch-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  border: 2px solid rgb(248 250 252);
  width: 60px;
  height: 30px;
  border-radius: 15px;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s;
  margin : 0 20px;
}

/* this is for dot inside checkbox */
.switch label::after {
  content: "";
  display: inherit;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: rgb(248 250 252);
}

/* this will apply on all the checkboxes which are checked having single label after checkbox input */
.switch input:checked + label {
  border-color: rgb(30 41 59);
}

.switch input:checked + label::after {
  translate: 30px 0;
  background: rgb(30 41 59);
}

.switch.square label,
.switch.square label::after {
  border-radius: 0;
}

footer{
  position: absolute;
  bottom: 20px;
}

/* NOTES */
/* 
    div p {
        this will select all the p tag which are inside div wheather it is nested inside div
    }
    
    div ~ p {
    this will select all the p which are immediately after div in one hierarchy only ,p tags should not be nested
    }
    
    div > p {
    this will select only child p tags inside div
    }
    
    div + p {
    this will select only one p tag immediately after a div, p tags should not be nested.
    }

*/
